.form-wrapper {
    
}

.breadcrums-strong{
    font-weight: 800;
}

.breadcrums{
    color : rgba(255, 255, 255, 0.774);
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.wrapper{

    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 10px;
    padding: 10px;
}

.page-title{
    font-size: 2rem;
    color: white;
    font-weight: 100;
}